# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# SQLite database
*.db
*.sqlite
*.sqlite3

# Uploaded files
app/uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db